<%= form_for(@status) do |status_form| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this vacancy from being saved:</h2>
      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= status_form.label :"Наименование" %><br />
    <%= status_form.text_field :fullname %>
  </div>
  <div class="actions">
    <%= status_form.submit %>
  </div>
<% end %>
