<h1>Listing vacancies</h1>

<table>
  <tr>
    <th>Наименование</th>
    <th>Дата регистрации</th>
    <th>Действует до</th>
    <th>Зар. плата</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vacancies.each do |vacancy| %>
  <tr>
    <td><%= vacancy.fullname %></td>
    <td><%= vacancy.addingdate %></td>
    <td><%= vacancy.validperiod %></td>
    <td><%= vacancy.salary %></td>
    <td><%= link_to 'Править', vacancy %></td>
    <td><%= link_to 'Просмотр', edit_vacancy_path(vacancy) %></td>
    <td><%= link_to 'удалить', vacancy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая вакансия', new_vacancy_path %>
