<p id="notice"><%= notice %></p>

<p>
  <b>Наименование:</b>
  <%= @vacancy.fullname %>
</p>

<p>
  <b>Дата регистрации:</b>
  <%= @vacancy.addingdate %>
</p>

<p>
  <b>Validperiod:</b>
  <%= @vacancy.validperiod %>
</p>

<p>
  <b>Зар. плата:</b>
  <%= @vacancy.salary %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
