<%= form_for(@skillgroup) do |f| %>
  <% if @skillgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skillgroup.errors.count, "error") %> prohibited this skillgroup from being saved:</h2>

      <ul>
      <% @skillgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seniorid %><br />
    <%= f.number_field :seniorid %>
  </div>
  <div class="field">
    <%= f.label :skill %><br />
    <%= f.number_field :skill %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
