<p id="notice"><%= notice %></p>

<p>
  <b>Seniorid:</b>
  <%= @skillgroup.seniorid %>
</p>

<p>
  <b>Skill:</b>
  <%= @skillgroup.skill %>
</p>


<%= link_to 'Edit', edit_skillgroup_path(@skillgroup) %> |
<%= link_to 'Back', skillgroups_path %>
