<h1>Список работников</h1>

<table>
  <tr>
    <th>ФИО</th>   
    <th>Статус</th>
    <th>Желаемая зар. плата</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @workers.each do |worker| %>
    <tr>
      <td></td>    
      <td><%= worker.status.fullname %></td>
      <td><%= worker.desiralesalary %></td>

      <td><%= link_to 'Show', worker %></td>
      <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
      <td><%= link_to 'Удалить', worker, confirm: 'j', method: :destroy %></td>
        
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Новый работник', new_worker_path %>
