<%= form_for(contactinformation) do |contactinfo_form| %>
  <% if @contactinformation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contactinformation.errors.count, "error") %> prohibited this vacancy from being saved:</h2>
      <ul>
      <% @contactinformation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= contactinfo_form.label :"Телефон" %><br />
    <%= contactinfo_form.text_field :telephone %>
  </div>
  <div class="field">
    <%= contactinfo_form.label :"E-mail" %><br />
    <%= contactinfo_form.email_field :email %>
  </div>
<% end %>
